opencv-python-headless==4.7.0.72
numpy==1.25.2
imagingcontrol4
pycomm3==1.2.14        # for PLC communication (future)
# tensorrt               # TensorRT comes with JetPack, not via pip
cuda-python            # CUDA Python API for TensorRT
pyside6==6.6.3
torch
torchvision
matplotlib
pycocotools
segmentation-models-pytorch==0.3.0
ultralytics
scipy
scikit-image
scikit-learn
Pillow
pathlib
shapely